# Python
__pycache__/
*.py[cod]
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Ambientes virtuais
.venv/
venv/
env/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.log

# Variáveis de ambiente
.env
